*{
    box-sizing:border-box;
}
body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
}

h1 {
    color: rebeccapurple;

    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 0;
}

h2 {
    color: hotpink;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
}

.container {
    width: 40%;
    margin: 0 auto;
}

form {
    padding-bottom: 60px;
    color: cornflowerblue;
}

p {
    width: 100px;
    margin: 0 auto;
    color: cornflowerblue;
    border-bottom: lightseagreen 1px solid;

}

.todo {
    width: 100%;
    height: auto;
    border: lightseagreen 1px solid;
    margin-bottom: 20px;
    text-align: center;
}

.completed {
    width: 100%;
    height: auto;
    border: lightseagreen 1px solid;
    text-align: center;
}

ul {
    color: darkslateblue;
}

